/* Merriweather google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
/* Nunito Sans google font  */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

/*================ 
  Base style
  font-family: 'Nunito Sans', sans-serif;
=================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}



ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --white: #F7F7F7;
  --black: #000000;
  --black-01: #242426;
  --black-02: #575757;
  --merun: #CC3D00;

}

.container-padding {
  padding-left: 2%;
  padding-right: 2%;
}